/* ===========================
   GLOBAL
=========================== */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
}

.top-nav {
    margin-bottom: 40px;
}

.top-nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    background-color: rgb(180, 178, 178, 0.7);
}


.about-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
}

/* Each row with image + text */
.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-row.left {
    flex-direction: row;
}

.about-row.right {
    flex-direction: row-reverse;
}

/* Image styling */
.about-row img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

/* Text next to images */
.about-text {
    max-width: 500px;
}

/* (Unused) old vertical s*

