body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
}

/*TOP NAVIGATION*/
.top-nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    background-color: rgba(180, 178, 178, 0.7);
    margin-bottom: 40px;
}

/* ABOUT SECTION CONTAINER*/
.about-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
}

/*ABOUT ROW (IMAGE + TEXT)*/
.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-row.left {
    flex-direction: row;
}

.about-row.right {
    flex-direction: row-reverse;
}

/*IMAGES*/
.about-row img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

/*TEXT BLOCK*/
.about-text {
    max-width: 500px;
}
