body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* top-nav / main content / footer */
    height: 100vh;
    margin: 0;
}

.top-nav {
    margin-bottom: 40px;
}

.top-nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    background-color: rgb(180, 178, 178, 0.7);
}

.viewport {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.column {
  flex: 0 0 100vw;
  overflow-y: auto;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 20px;
}
