/*BODY GRID LAYOUT*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* top-nav / main content / footer */
    height: 100vh;
    margin: 0;
}

/*NAVIGATION*/
.top-nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgba(180, 178, 178, 0.7);
}

/*LOGO CONTAINER*/
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
}


