/*GLOBAL LAYOUT*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* top-nav / main content / footer */
    height: 100vh;
    margin: 0;
}

/*TOP NAVIGATION*/
.top-nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgba(180, 178, 178, 0.7);
}

/* VIEWPORT (MAIN CONTENT AREA)*/
.viewport {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/* COLUMN*/
.column {
    flex: 0 0 100vw;  /* Each column takes full viewport width */
    overflow-y: auto;
}

/*STACK OF PHOTOS*/
.stack {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 20px;
}
